<mat-card class="message" *ngIf="message.sender == 'AI'"
          style="padding: 10px;
          margin-bottom: 10px;
          border-radius: 5px;
          clear: both;
            background-color: white;
            border: 1px solid #25B99A;
            float: left;">
  <mat-card-header class="message-components">
    <mat-card-title>
      {{message.sender}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="message-components">
    <p>
      {{message.text}}
    </p>
  </mat-card-content>
  <mat-card-footer>
    <p>
      {{message.time}}
    </p>
  </mat-card-footer>
</mat-card>

<mat-card class="message" *ngIf="message.sender == 'user'"
          style="padding: 10px;
          margin-bottom: 10px;
          border-radius: 5px;
          clear: both;
            background-color: #f0f0f0;
            float: right;">
  <mat-card-header class="message-components">
    <mat-card-title>
      {{message.sender}}
    </mat-card-title>
  </mat-card-header>
  <mat-card-content class="message-components">
    <p>
      {{message.text}}
    </p>
  </mat-card-content>
  <mat-card-footer>
    <p>
      {{message.time}}
    </p>
  </mat-card-footer>
</mat-card>

