<div class="left-side">
  <div *ngFor="let message of messages">
    <app-message [message]="message"></app-message>
  </div>
  <input class="chat-input" type="text" [(ngModel)]="text"/>
  <br/>
  <button class="send-btn" (click)="sendMessage()">
    	<mat-icon>send</mat-icon>
  </button>
  <br/>

  <div *ngIf="isCreating" class="startPage">
    <h2>Как вам помочь?</h2>
    <p>Дай синонимы к слову ...</p>
    <p>Сделай синтаксический разбор предложения ...</p>
    <p>Расскажи о фильме ...</p>
  </div>

</div>

<div class="line"></div>

<div *ngIf="isHelp" class="dark">
  <div class="window">
    <button class="cls-btn" (click)="help_close()">x</button>
    <br>
    <h1>Я работаю с текстами предметной области "Кинематограф"</h1>
    <h1>Мои способности:</h1>
    <br>
    <br>
    <p>1.Дай синонимы к слову ...</p>
    <p>2.Сделай синтаксический разбор предложения ...</p>
    <p>3.Расскажи о фильме ...</p>
  </div>
</div>

<div class="right-side">
  <p class="text">Chats</p>
  <button class="new-chat-btn" (click)="createChat()">New chat</button>
  <button class="help-btn" (click)="help_open()">Help</button>
  <br/>
  <div class="chats">
    <button class="chat" *ngFor="let chat of chatNames" (click)="updateChat(chat)">{{ chat }}</button>
  </div>
</div>
