<main>
  <body>
  <p><span>Word:</span> {{this.word?.normal_form}}</p>
  <p><span>Number:</span> {{this.word?.number}}</p>
  <p><span>Definitions:</span> {{this.word?.definitions}}</p>
  <p><span>Synonyms:</span> {{this.word?.synonyms}}</p>
  <p><span>Antonyms:</span> {{this.word?.antonyms}}</p>
    <div style="margin: 20px" *ngFor="let form of this.word?.forms">
      <p *ngIf="form.word"><span>Form:</span> {{form.word}}</p>
      <p *ngIf="form.animation"><span>Animation:</span> {{form.animation}}</p>
      <p *ngIf="form.case"><span>Case: </span>{{form.case}}</p>
      <p *ngIf="form.gender"><span>Gender:</span> {{form.gender}}</p>
      <p *ngIf="form.inclination"><span>Inclination:</span> {{form.inclination}}</p>
      <p *ngIf="form.number"><span>Number:</span> {{form.number}}</p>
      <p *ngIf="form.part_of_speech"><span>Part of speech:</span> {{form.part_of_speech}}</p>
      <p *ngIf="form.time"><span>Time:</span> {{form.time}}</p>
      <p *ngIf="form.type"><span>Type:</span> {{form.type}}</p>
    </div>
  </body>
</main>
